.accordion-list-with-search_list{
    width: 100%;
    border-left: 2px solid black;
    padding: 48px 8px 48px 8px;
}

.accordion-list-with-search_list__item {
    width: 100%;
    display: flex;
    column-gap: 96px; 
    padding: 16px;
    border: 1px solid black;
}

.accordion-list-with-search_filter {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
    padding: 12px;
}

.accordion-list-with-search_filter__title {
    font-weight: bold;
}

.accordion-list-with-search_wrapper {
    max-width: 800px;
    width: 100%;
    display: flex;
    border: 2px solid black;
    border-radius: 4px;
    margin: auto;
}
